#container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    " title "
    " game-container ";
}

#title{
    grid-area: title;
}

#game-container{
    grid-area: game-container;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 20%;
    grid-template-areas:
    " player-one-container player-two-container "
    " play-interface play-interface "
}

#player-one-container{
    grid-area: player-one-container;
}

#player-two-container{
    grid-area: player-two-container;
}

.player-container{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    " player-name "
    " player-board ";
}

.player-name{
    grid-area: player-name;
}

.player-board{
    grid-area: player-board;
}

#play-interface{
    grid-area: play-interface;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gameboard{
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.gameboard-row{
    width: 100%;
    display: flex;
    flex: auto;
}

.cell{
    border: 1px darkgray solid;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unknown-cell{
    background-color: lightblue;
}

.empty-cell{
    background-color: lightgrey;
}

.sunken-cell{
    background-color: lightcoral;
    border: 2px red solid;
}

.empty-circle{
    aspect-ratio: 1 / 1;
    height: 25%;
    background-color: white;
    border-radius: 50%;
    border-radius: 1px black solid;
}

.sunken-cell::before, .sunken-cell::after{
    content: '';
    height: clamp(15px, 120%, 150%);
    width: 2px;
    background-color: red;
}

.sunken-cell::before{
    transform: rotate(45deg);
}

.sunken-cell::after{
    transform: rotate(-45deg);
}